<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.plant01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.plant01">
        <activity
            android:name=".garden.MyMainActivity"
            android:exported="true" />
        <activity
            android:name=".garden.ShowActivity"
            android:exported="true" />
        <activity
            android:name=".home.SearchResult"
            android:exported="false" />
        <activity
            android:name=".home.SearchPlantPage"
            android:exported="false" />
        <activity
            android:name=".home.search2"
            android:exported="true" />
        <activity
            android:name=".test.testPostData"
            android:exported="true" />
        <activity
            android:name=".home.search"
            android:exported="true" />
        <activity
            android:name=".usersetting.UserSetting"
            android:exported="true" />
        <activity
            android:name=".home.bell"
            android:exported="true" />
        <activity
            android:name=".garden.MyPlants"
            android:exported="true" />
        <activity
            android:name=".garden.MyGarden"
            android:exported="true" />
        <activity
            android:name=".garden.AddPlants"
            android:exported="true" />
        <activity
            android:name=".usersetting.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".usersetting.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".usersetting.CameraActivity"
            android:exported="true" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".store.MainActivity"
            android:exported="true" />
        <activity
            android:name=".postpage.PostMain"
            android:exported="true" />
        <activity
            android:name=".postpage.GalleryActivity"
            android:exported="true" />
        <activity
            android:name=".postpage.BasicActivity"
            android:exported="true" />
        <activity
            android:name=".postpage.PostMainActivity"
            android:exported="true" />
        <activity
            android:name=".postpage.Post_write"
            android:exported="true" />
        <activity
            android:name=".store.Recommend"
            android:exported="true" />
        <activity
            android:name=".store.Store_RecommendList"
            android:exported="true" />
        <activity
            android:name=".store.StoreSearch"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".store.StoreSearchResult"
            android:exported="true" />
        <activity
            android:name=".store.intro"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>